.grid-block, .main, .request, .comments li, .comment-form {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
  font: 'PT Sans' 1.1em 300;
  background: #eee;
  color: #666666; }

a { color:inherit; }

a:focus { color:inherit; }

.header-container a:hover { 
  color: #eee; 
}

#signup-link {
  color:#666;
}

li {
  list-style: none;
}

.mark-complete {
  float: right;
}

#main {
  position: relative;
}

#my-button {
  background: green;
  color: yellow;
}

.container {
  position:relative;
}

.full {
  width:100%;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 85px;
  margin-bottom: 0;
}

.login li {
  margin: 0 auto;
}

.vCenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 85px;
  margin-bottom: 0;
}

.vCenter li {
  margin:0 auto;
}

.add-request {
  position:absolute;
  right:0;
}

.add-container {
  height:80px;
  margin-top:20px;
}

.title {
  font-size:1.3em;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

ul.nav-center {
  margin-top:17px;
  margin-left:20px;
}

.header-container {
  height:85px;
  background-color: #4184F3;
  color:#fff;
}

.btn-accept {
  background-color: #5CB85C;
  color:#fff;
}

.btn-prim {
  background-color: #2196F3;
  color:#fff;
}

.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.request-title {
  margin-bottom: 20px;
  width:100%;
  background-color: #F8F8F8; }

  .request-title h3 {
    margin:0;
    text-align:center;
    padding:20px;
    color:#555;
    font-family: 'PT Sans';
  }

.map-container {
  width: 100%;
  height: 150px;  
}

.nav {
  padding: 4px;
}

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }

.nav .navbar-brand {
  font-size: 1.5em;
  margin-top:3px;
}

.vert-center {
  position: relative;
  transform: translateY(40%);
}

.space-top-05 {
  margin-top:5px;
}

.space-bottom-2 {
  margin-bottom: 20px;
}

#spinner {
  height: 300px; }

.request {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1; }
  .request:before, .request:after {
    content: "";
    display: table; }
  .request:after {
    clear: both; }
  .request.invisible {
    opacity: 0; }
  .request.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .request.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .request .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .request .request-content {
    float: left; }
    .request .request-content h3 {
      font-family: 'PT Sans';
      margin: 0;
      line-height: 1.4;
      font-size: 19px; }
      .request .request-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .request .request-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .request .request-content p {
      margin: 0; }
  .request .discuss, .accept {
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 7px; }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.requests .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

@media (max-width:1000px) {
  .vCenter {
    padding-left:15px;
  }
}

@media (max-width: 750px) {
  div.header-container {
    font-size:0.9em;
  }
}

@media (max-width: 550px) {
  div.header-container {
    font-size:0.8em;
  }
  .login {
    font-size:1em;
    padding-left: 0;
  }

  paper-button.btn-accept {
    width: 95%;
  }

  ul.vCenter {
    padding-left: 0px;
    margin-right: 5px;
  }

  .vert-center {
    transform: translateY(5%);
  }
}

@media (max-width:500px) {
  div.header-container {
    font-size:0.7em;
  }
}