.grid-block, .main, .request, .comments li, .comment-form {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
  font: 'PT Sans' 1.1em 300;
  background: #eee;
  color: #666666; }

a { color:inherit; }

#main {
  position: relative;
}

#my-button {
  background: green;
  color: yellow;
}

.full {
  width:100%;
}

.header-container {
  height:70px;
  background-color: #3F51B5;
  color:#fff;
}

.btn-accept {
  background-color: #0F9D58;
  color:#fff;
}

.btn-prim {
  background-color: #2196F3;
  color:#fff;
}

.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.request-title {
  margin-bottom: 20px;
  width:100%;
  background-color: #F8F8F8; }

  .request-title h3 {
    margin:0;
    text-align:center;
    padding:20px;
    color:#555;
    font-family: 'PT Sans';
  }

.map-container {
/*  position:absolute;
  top:0;*/
  width: 100%;
  height: 150px;
  margin-top: -12px;  
}

/*.map-overlay {
  position:relative;
  width:100%;
  height: 150px;
  margin: 0;
  background-color:#fff;
  opacity:0.2;
}
*/
.nav {
  padding: 4px;
}

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }

.nav .navbar-brand {
  font-size: 1.5em;
  margin-top:3px;
}

.space-bottom-2 {
  margin-bottom: 20px;
}

#spinner {
  height: 300px; }

.request {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1; }
  .request:before, .request:after {
    content: "";
    display: table; }
  .request:after {
    clear: both; }
  .request.invisible {
    opacity: 0; }
  .request.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .request.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .request .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .request .request-content {
    float: left; }
    .request .request-content h3 {
      font-family: 'PT Sans';
      margin: 0;
      line-height: 1.4;
      font-size: 19px; }
      .request .request-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .request .request-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .request .request-content p {
      margin: 0; }
  .request .discuss, .accept {
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 7px; }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments li h4 {
    font-size: 16px;
    margin: 0; }
    .comments li h4 .date {
      font-size: 12px;
      font-weight: normal; }
    .comments li h4 a {
      font-size: 12px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.requests .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}