<template name="requestItem">
  <div class="request" data-rid="request_{{_id}}" horizontal layout>
    <div class="request-content">
      <h3>{{title}}</h3>
      <span>Due: {{dueDate}}</span>
      <br>
      <span>Distance: {{distance}}</span>
      <p>
      	submitted by <strong>{{author}}</strong>
      	{{#if ownRequest}}<a href="{{pathFor 'requestEdit'}}">Edit</a>{{/if}}
      </p>

      {{description}}
    </div>
    <div flex></div>
    <div>  
      <a href="{{pathFor 'requestPage'}}" class="discuss"><paper-button raised>View</paper-button></a>      
      <a class="accept" href="#"><paper-button raised>Accept Request</paper-button></a>
    </div>  
  </div> 
</template>