<template name="requestEdit">
  <form class="main form page">
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Title</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="{{title}}" placeholder="Give your request a title." class="form-control"/>
          <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'description'}}">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
          <input name="description" id="description" type="text" value="{{description}}" placeholder="Please describe your request" class="form-control"/>
          <span class="help-block">{{errorMessage 'description'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'dueDate'}}">
      <label for="due-date" class="control-label">Due Date</label>
      <div class="controls">
        <input type="text" class="form-control" id="date-picker" name="due-date" value="{{dueDate}}" placeholder="Click here to enter a due date" />
        <span class="help-block">{{errorMessage 'dueDate'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete request</a>
  </form>
</template>