<template name="requestsList">
	{{> map}}
  <div class="request-title"><h3>Requests</h3></div>
  <div class="requests">
		{{#if zeroRequests}}
			<h3>There are currently no requests.  Submit a request by clicking the 'submit request' button at the top of the page!</h3>
		{{/if}}

    {{#each requests}}
    	{{> requestItem}}
    {{/each}}

    {{#if nextPath}}
      <a href="{{nextPath}}" class="load-more">Load more requests</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}

    {{#if currentUser}}
    <div class="add-container">
      <a href="{{pathFor 'requestSubmit'}}" class="add-request"><span class="request-button-text">Submit Request</span><paper-fab icon="add"></paper-fab></a>
    </div>  
    {{/if}}
  </div>

</template>