<template name="requestItem">
  <div class="request" data-rid="request_{{_id}}">
    <div class="request-content">
      <h3>{{title}}</h3>
      <span>Due: {{dueDate}}</span>
      <br>
      <span>Distance: {{distance}}</span>
    <p>
    	submitted by <strong>{{author}}</strong>
    	{{#if ownRequest}}<a href="{{pathFor 'requestEdit'}}">Edit</a>{{/if}}
    </p>

      {{description}}
    </div>
    <a href="{{pathFor 'requestPage'}}" class="btn btn-default discuss">View</a>
    <a class="btn btn-success accept" href="#">Accept Request</a>
  </div>
</template>