<template name="header">
  <div class="header-container">  
    <core-header-panel>
      <core-toolbar>
        <div horizontal layout class="full">
          <div flex seven class="space-top-05">
            <div horizontal layout class="full">
              <div>
                <ul class="vCenter">
                <li><a href="{{pathFor 'requestsList'}}" class="title">Neighborly</a></li>
                </ul>
              </div>
              <div>
                <ul class="vCenter">
                {{#with currentUser}}
                <li><a href="{{pathFor 'userProfile'}}">View Tasks</a></li>
                {{/with}}
                </ul>
              </div>
              <div>
                {{#if currentUser}}
                <ul class="vCenter">
                  <li class="dropdown">
                    {{> notifications}}
                  </li>
                </ul>  
                {{/if}}
              </div>  
            </div>  
          </div>  
          <div flex three class="space-top-05">
            <ul class="login">
              {{> loginButtons}}
            </ul>    
          </div>
        </div>
      </core-toolbar>  
    </core-header-panel>  
  </div>   
</template>