<template name="header">
  <div class="header-container">  
    <core-header-panel>
      <core-toolbar>
        <div horizontal layout class="full">
          <div flex one>
          </div>
          <div flex nine class="space-top-05">
            <a href="{{pathFor "requestsList"}}" class="title">Neighborly</a>
          </div>  
          <div flex two>
            {{> loginButtons}}
          </div>
        </div>
      </core-toolbar>  
    </core-header-panel>  
  </div>   

  <!-- <nav class="nav navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>        
        <a href="{{pathFor 'requestsList'}}" class="navbar-brand">Neighborly</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
          <li><a href="{{pathFor 'requestSubmit'}}">Submit Request</a></li>
          {{/if}}
          {{#with currentUser}}
          <li><a href="{{pathFor 'userProfile'}}">View Tasks</a></li>
          {{/with}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul>
      </div>
    </div>
  </nav> -->
</template>